
body{
    background-color: #210072;
}

#container{
    border: solid black 2px;
    width: 400px;
    height: 612px;
    margin: 100px auto;
}

#resultado{
    border: solid black 2px;
    height: 90px;
    background-color: white;
    border-bottom: none;

}

#resultado h2{
    margin-top: 35px;
    width: 350px;
    font-size: 1.3em;
    padding: 5px;
}


.numeros{
    width: 300px;
    float: left;
}

.numeros h1:hover{
   background-color: #D5D5D5;
}

.numeros h1{
    border: solid black 2px;
    float: left;
    width: 96px;
    height: 100px;
    margin: 0px 0px;
    text-align: center;
    line-height: 90px;
    background-color: white;
    cursor: pointer;
}

#igual{
    width: 196px;
}
.operadores{
    float: left;
    width: 100px;
    padding: 0px;
}

.operadores h1:hover{
    background-color: #DA8D00;
}

.operadores h1{
    border: solid black 2px;
    height: 100px;
    margin: 0px 0px;
    text-align: center;
    line-height: 90px;
    background-color: orange;
    cursor: pointer;

}


